* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent !important;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
html {
  font-size: 16px;
}
:focus {
  outline: none;
}
body {
  font-family: "Open Sans";
  height: 100vh;
  max-width: 1920px;
  margin: 0 auto;
}
.container {
  width: 70%;
  margin: 0 auto;
}
.container--main {
  width: 60%;
  margin: 0 auto;
}
.section {
  &-header {
    display: flex;
    justify-content: center;
    padding: 5em 0;
    &__h2 {
      font-weight: 700;
      font-size: 2.5rem;
      color: #263238;
      max-width: 25em;
      justify-content: center;
      display: flex;
      text-align: center;
    }
  }
}

@media screen and (max-width: 1680px) {
  .container {
    width: 80%;
  }
  .container--main {
    width: 72%;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    width: 85%;
  }
  .container--main {
    width: 78%;
  }
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 95%;
  }
  .container--main {
    width: 90%;
  }
  html {
    font-size: 12px;
  }
  .section-header {
    padding: 2em 0;
    &__h2 {
      font-size: 2rem;
    }
  }
}
// @media screen and (max-width: 768px) {
//   html {
//     font-size: 10px;
//   }
// }
