footer {
  background-image: url(../img/footer-bg2.png), url(../img/Ellipse-footer.png);
  background-position: right 150%, center -10%;
  background-repeat: no-repeat;
}
.footer {
  &-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3em;
  }
  &-item {
    max-width: 240px;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 2px;
    color: #ffffff;
    padding: 0 0.5em;
    width: 20%;
    &__h3 {
      text-transform: uppercase;
      margin: 1em 0;
      cursor: pointer;
    }
    &-content--active {
      animation: footer-content-active 0.6s ease-in-out forwards !important;
    }
    &-list {
      line-height: 2em;
    }
    &__p {
      margin-top: 2em;
      a {
        color: #00aeff;
      }
    }
    @media screen and (max-width: 1024px) {
      & {
        width: 100%;
      }
      &-content {
        overflow: hidden;
        animation: footer-content 0.6s ease-in-out forwards;
        height: auto;
        max-height: 0;
      }
      &__h3 {
        text-align: center;
      }
      &-item,
      &__p {
        text-align: center;
      }
    }
  }
  @media screen and (max-width: 1024px) {
    &-list {
      flex-direction: column;
      align-items: center;
    }
  }
}

.subscribe {
  border-radius: 20px;
  filter: drop-shadow(0px 42px 17.5px rgba(31, 110, 227, 0.15));
  background-color: #3072c0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 3em;
  margin-bottom: 3em;

  &__h2 {
    font-weight: 600;
    font-size: 2.5rem;
    text-align: center;
    color: #ffffff;
  }
  @media screen and (max-width: 768px) {
    &__h2 {
      font-size: 2rem;
    }
  }
  &-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 599px;
    width: 100%;
    margin-top: 3em;
  }
  &__input {
    border-radius: 20px;
    background-color: #ffffff;
    font-weight: 400;
    color: #546e7a;
    border: none;
    width: 100%;
    padding: 1em 1.5em;
    margin: 1em 0;
    font-size: 1.5rem;
  }
  &__btn {
    border-radius: 40px;
    -webkit-filter: drop-shadow(0px 22px 12px rgba(17, 83, 165, 0.21));
    filter: drop-shadow(1px 22px 6px rgba(50, 50, 200, 0.21));
    background-color: #00aeff;
    font-weight: 500;
    font-size: 1.25rem;
    color: #fbfcfc;
    margin-top: 4em;
    border: 5px solid #00aeff;
    padding: 1em 2.5em;
  }
  &__btn:hover {
    color: #00aeff;
    background-color: #fbfcfc;
    transition: 0.5s;
  }
  &__btn:active {
    filter: none;
  }
}
.copy {
  padding-bottom: 3em;
}
.networks {
  &-list {
    display: flex;
  }
  @media screen and (max-width: 1024px) {
    &-list {
      justify-content: center;
    }
  }

  &-item {
    background: url(../img/Ellipse.png) center;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.5em;
  }
  &__img {
    border-radius: 23px;
  }
}
.overlay {
  position: fixed;
  z-index: -1;
  overflow: hidden;
  opacity: 0;
  top: 0;
  height: 100vh;
  background: rgba(30, 18, 138, 0.9);
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay--active {
  animation: overlay 3s forwards;
  z-index: 1;
}

@keyframes overlay {
  0% {
    opacity: 0;
    overflow: hidden;
  }
  30% {
    opacity: 1;
    overflow: auto;
  }
  60% {
    opacity: 1;
    overflow: auto;
  }
  100% {
    opacity: 0;
    overflow: hidden;
  }
}
@keyframes footer-content {
  from {
    max-height: 600px;
    opacity: 1;
  }
  to {
    max-height: 0;
    opacity: 0;
  }
}
@keyframes footer-content-active {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 600px;
    opacity: 1;
  }
}
