.header {
  padding-top: 4.5rem;

  &-content {
    display: flex;
    justify-content: space-between;
  }

  &-nav {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    width: 100%;
    align-items: center;
    &__link {
      font-weight: 500;
      color: #ffffff;
      font-size: 1rem;
    }
  }
}
.logo {
  font-size: 2.25rem;

  font-weight: 700;
  text-align: right;
  color: #1c2056;

  span {
    color: #2870db;
  }
}
@media screen and (max-width: 1440px) {
  .header-nav__link {
    border-radius: 10px;
    background-color: #082f7b;
    padding: 0.5em 0.7em;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding-top: 2em;
  }
  .header-nav {
    justify-content: space-evenly;
  }
  .header-content {
    flex-direction: column;

    align-items: center;
  }

  .logo {
    margin-bottom: 1em;
  }
}
