header {
  padding-top: 5rem;
  nav {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    width: 100%;
    .nav__link {
      font-weight: 400;
      color: #ffffff;
      font-size: 2rem;
    }
  }
}

.logo {
  font-size: 2.5rem;

  font-weight: 700;
  text-align: right;
  color: #1c2056;
  span {
    color: #2870db;
  }
}
