.posts {
  background: url(../img/post-bg.png) no-repeat right 700% center;
  &-header {
    display: flex;
    justify-content: center;
    padding: 5em 0;
    &__h2 {
      font-weight: 700;
      font-size: 36px;
      line-height: 50px;
      color: #263238;
      max-width: 690px;
      justify-content: center;
      display: flex;
    }
  }
  &-list {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 7em;
  }
  &-item {
    position: relative;
    border-radius: 20px;
    box-shadow: 1px 20px 50px rgba(32, 94, 171, 0.2);
    background-color: #ffffff;
    padding: 3.5em;
    max-width: 24em;
    width: -webkit-fill-available;
    margin: 2em 0;
    transition: 0.3s ease-in-out;
    box-sizing: content-box;
    &__h3 {
      font-weight: 700;
      font-size: 1.5rem;
      padding-bottom: 1.5em;
    }
    &__p {
      color: #2d2058;
      line-height: 2.5rem;
      font-weight: 400;
    }
  }
  &-item:hover {
    transform: scale(1.1);
  }
  &-item:nth-child(2n) {
    align-self: flex-end;
  }
  &-item::before {
    position: absolute;
    left: 35%;
    top: -50%;
  }
  &-item:nth-of-type(1):before {
    content: url(../img/post-item-img1.png);
  }
  &-item:nth-of-type(2):before {
    content: url(../img/post-item-img2.png);
  }
  &-item:nth-of-type(3):before {
    content: url(../img/post-item-img3.png);
  }
  @media screen and (max-width: 1440px) {
    &-item::before {
      display: none;
    }
    &-list {
      margin-top: 0;
    }
  }
}
